@import "../../_sass-modules/variables";
@import "../../_sass-modules/defaults";

button {
    border:solid thin darken($mainColour, 20%);
    cursor:pointer;
    &:focus {
        background-color:darken($mainColour, 10%) !important;
    }
    &:hover {
        background-color:darken($mainColour, 15%) !important;
    }
    &:active {
        box-shadow:inset 0 0 2px 2px rgba(darken($mainColour, 20%), 0.8);
    }
}

#keyboard {
    bottom:0;
    position:fixed;
}
#search-container {
    text-align:center;
    input,button {
        font-size:1.6em;
        line-height:1.6em;
        padding:3px 5px;
    }
    button {
        margin-left:10px;
    }
}
#keyboard-container {
    background-color:darken($mainColour, 30%);
    padding-top:5px;
    #input-1 {
        width:756px;
    }
    #input-2 {
        width:775px;
    }
    #input-3 {
        width:803px;
    }
    #input-1,#input-2,#input-3 {
        height:68px;
        margin:0px auto;
        button {
            border-radius:6px;
            text-align:center;
            font-size:2.2em;
            padding:10px 15px;
            margin-right:5px;
            width:62px;
            height:64px;
        }
        #backspace {
            width:81px;
        }
        #shift {
            width:117px;
        }
        #space {
            width:130px;
        }
    }
}
#results-container {
    & > ul {
        position:fixed;
        top:0px;
        button.active {
            border-bottom-width:2px;
            border-left-width:2px;
            border-right-width:2px;
            font-size:0.81em;
            font-weight:bold;
        }
    }
    ul {
        margin:0;
        padding:0;
        list-style:none;
        li {
            display:inline-block;
            margin-right:5px;
            button {
                background-color:darken($mainColour, 30%);
                border-bottom-left-radius:10px;
                border-bottom-right-radius:10px;
            }
        }
    }
}