{% extends "_layouts/components/navbar.twig" %}

{% block navbar_brand_link %}/admin{% endblock %}

{% block navbar_brand %}Admin{% endblock %}

{% block navbar_main_menu %}
{% if is_admin_logged_in %}
<li class="dropdown{% if active_menu in ["content", "sitemap"] %} active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Html<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li{% if active_menu == "content" %} class="active"{% endif %}><a href="/admin/html/content">Content</a></li>
        <li{% if active_menu == "sitemap" %} class="active"{% endif %}><a href="/admin/html/sitemap">Sitemap</a></li>
    </ul>
</li>
{% endif %}
{% endblock %}

{% block navbar_secondary_menu %}
{% if is_admin_logged_in %}
<p class="navbar-text">Welcome, <a href="/admin/my-profile" class="navbar-link{% if active_menu == "my-profile" %} active{% endif %}">{{ user.username }}</a></p>
<a href="/admin/logout" class="btn btn-default navbar-btn">Logout</a>
{% else %}
<form class="navbar-form" role="form" action="/admin/login">
    {% if errorMessage is defined %}
    <div class="form-group has-error">
        <span class="help-block">{{ errorMessage }}</span>
    </div>
    {% endif %}
    <div class="form-group{% if errorMessage is defined %} has-error{% endif %}">
        <label class="sr-only" for="navbar-form-username">Username</label>
        <input type="text" id="navbar-form-username" name="username" class="form-control" placeholder="Username">
    </div>
    <div class="form-group{% if errorMessage is defined %} has-error{% endif %}">
        <label class="sr-only" for="navbar-form-password">Password</label>
        <input type="password" id="navbar-form-password" name="password" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Login</button>
</form>
{% endif %}
{% endblock %}
