body {
    background-color: $mainColour;
    &.navbar-fixed {
        padding-top: 50px;
    }
}

.navbar-inverse .navbar-link.active {
    font-weight: bold;
}

.navbar-form .form-group {
    margin-right: 10px;
}

.wrapper {
    @include wrapper();
}
