$mainColour:#999999;
$loadingAnimationWidth:300;
$loadingAnimationHeight:30;
$loadingAnimationElementGap:3;
$loadingAnimationSpeed:2s;
$loadingAnimationDelay:0.5;
$loadingAnimationDelayGap:0.2;
$loadingAnimationScale:.3;