[submodule "lib/doctrine-common"]
    path = lib/doctrin-common
    url = git://github.com/doctrine/common.git
[submodule "lib/doctrine-dbal"]
    path = lib/doctrine-dbal
    url = git://github.com/doctrine/dbal.git
[submodule "lib/doctrine2"]
    path = lib/doctrine2
    url = git://github.com/doctrine/doctrine2.git
[submodule "lib/twig"]
    path = lib/twig
    url = git://github.com/fabpot/Twig.git
[submodule "lib/xFrame"]
    path = lib/xFrame
    url = git://github.com/linusnorton/xFrame.git
