[submodule "vendor/twig"]
	path = vendor/twig
	url = git://github.com/fabpot/Twig.git
[submodule "vendor/xframe"]
	path = vendor/xframe
	url = git://github.com/linusnorton/xFrame.git
[submodule "vendor/doctrine2"]
	path = vendor/doctrine2
	url = git://github.com/doctrine/doctrine2
[submodule "vendor/doctrine-annotations"]
	path = vendor/doctrine-annotations
	url = git://github.com/doctrine/annotations
[submodule "vendor/doctrine-cache"]
	path = vendor/doctrine-cache
	url = git://github.com/doctrine/cache.git
[submodule "vendor/doctrine-collections"]
	path = vendor/doctrine-collections
	url = git://github.com/doctrine/collections.git
[submodule "vendor/doctrine-common"]
	path = vendor/doctrine-common
	url = git://github.com/doctrine/common.git
[submodule "vendor/doctrine-dbal"]
	path = vendor/doctrine-dbal
	url = git://github.com/doctrine/dbal.git
[submodule "vendor/doctrine-lexer"]
	path = vendor/doctrine-lexer
	url = git://github.com/doctrine/lexer.git
