{# copy from: http://cssload.net/ #}
<div id="loading">
    <div id="spinning-square-1">&nbsp;</div>
    <div id="spinning-square-2">&nbsp;</div>
    <div id="spinning-square-3">&nbsp;</div>
    <div id="spinning-square-4">&nbsp;</div>
    <div id="spinning-square-5">&nbsp;</div>
    <div id="spinning-square-6">&nbsp;</div>
    <div id="spinning-square-7">&nbsp;</div>
    <div id="spinning-square-8">&nbsp;</div>
</div>