@import "../../_sass-modules/variables";
@import "../../_sass-modules/functions";
@import "../../_sass-modules/common";

#page {
    margin:30px auto;
    width:#{$pageSize}px;
}

pre {
    font-size:0.6em;
}