{% extends "homepage/experiments/common.twig" %}

{% block experimentDescription%}<div>
    Local jukebox I was working once as a side project for one person.
    But had a lot of personal and work issues to deal with so could not manage to continue.
    Copying basic functions, but as mentioned in About page - backbone, so will have to preload all lists.
    Version: 0.0.1<br />
    <a href="javascript:void(0);" class="development-history-link">Development log</a>
    <div class="development-history">
        <span>0.0.1:</span>
        <ul>
            <li>Initial launch - keyboard</li>
        </ul>
    </div>
</div>{% endblock %}
