{% extends "_layouts/donatasmart.twig" %}

{% block meta_description %}Web page is made with xFrame - small and fast PHP framework, Twig - flexible, fast, and secure template engine for PHP, Twitter Bootstrap v3!, Doctrine2 for database, jQuery - javascript library, Sass - syntactically awesome stylesheets and flot|raphaël - javascript tool displaying graphs{% endblock %}

{% block page_contents %}
<p>This web site:</p>
<ul>
    <li>was not designed</li>
    <li>has absolutely no public meaning. Each visitor has his own opinion and/or purpose. Grab idea, feedback (find me and feed me), or whatever reason he&#39;s up for</li>
    <li>is built with/is using in some places:
        <ul>
            <li><a href="https://github.com/linusnorton/xFrame" target="_blank">xFrame</a></li>
            <li><a href="http://twig.sensiolabs.org/" target="_blank">Twig</a></li>
            <li><a href="http://getbootstrap.com/">Twitter Bootstrap v3</a></li>
            <li><a href="http://www.doctrine-project.org/" target="_blank">Doctrine2</a> on jukebox, <a href="http://php.net/manual/en/book.pdo.php">PDO</a> elsewhere</li>
            <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
            <li><a href="https://github.com/jquery/jquery-color" target="_blank">jQuery Color plugin</a></li>
            <li><a href="http://sass-lang.com/" target="_blank">Sass</a></li>
            <li><a href="https://github.com/flot/flot" target="_blank">flot</a></li>
            <li><a href="https://github.com/DmitryBaranovskiy/raphael">Raphaël</a></li>
            <li><a href="http://www.phing.info/" target="_blank">Phing</a></li>
            <li><a href="http://www.memcached.org/" target="_blank">Memcached</a></li>
            <li><a href="http://backbonejs.org/" target="_blank">Backbone</a>. Routing, MVC</li>
            <li><a href="http://gearman.org/gearman" target="_blank">Gearman Job Server</a></li>
            <li><a href="http://netbeans.org/" target="_blank">NetBeans</a> (I know - whatever)</li>
        </ul>
    </li>
    <li>is mainly developed in help with Opera browser. So if something doesn't look right - don't panic. It only means I don't really care how it looks to you individually. But it's very possible I could be able to &quot;fix&quot; it</li>
    <li>is with .lt domain even though all content (except hell-music pdfs) is in English</li>
    <li>is in:
        <ul>
            <li>server without memcache. Therefore I tried to wrap all necessary calls with checks. If missed - sorry :)</li>
            <li>server with PHP < 5.4, so some &quot;nice to have&quot; features are not possible and therefore you might meet my frog explaining it</li>
            <li><a href="https://github.com/doncem/homepage" target="_blank">github</a></li>
        </ul>
    </li>
</ul>
{% endblock %}
