{% extends "homepage.html" %}

{% block meta_description %}Web page is made with xFrame - small and fast PHP framework, Twig - flexible, fast, and secure template engine for PHP, Doctrine2 for database, jQuery - javascript library, Sass - syntactically awesome stylesheets and flot - javascript tool displaying graphs{% endblock %}

{% block title %}About Page{% endblock %}

{% block page_title %}About site{% endblock %}

{% block content %}
<p>This web site:</p>
<ul>
    <li>was not designed</li>
    <li>is built with:
        <ul>
            <li><a href="https://github.com/linusnorton/xFrame" target="_blank">xFrame</a></li>
            <li><a href="http://twig.sensiolabs.org/" target="_blank">Twig</a></li>
            <li><a href="http://www.doctrine-project.org/" target="_blank">Doctrine2</a> (movies{% if isLive != 1 %}/cdcollection{% endif %})</li>
            <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
            <li><a href="https://github.com/jquery/jquery-color" target="_blank">jQeury Color plugin</a> (in experiments only)</li>
            <li><a href="http://sass-lang.com/" target="_blank">Sass</a></li>
            <li><a href="http://code.google.com/p/flot/" target="_blank">flot</a> (in movies only)</li>
            <li><a href="http://www.memcached.org/" target="_blank">Memcached</a> (in movies only)</li>
            <li><a href="http://netbeans.org/" target="_blank">NetBeans</a> (I know - LOL)</li>
            <li>Some results are part of <a href="http://www.phing.info/" target="_blank">Phing</a> calls</li>
        </ul>
    </li>
    <li>is mainly developed in help with Opera browser. So if something doesn't look right - don't panic. It only means I don't give a shit of how it looks to you individually. But it's very possible I could be able to &quot;fix&quot; it</li>
    <li>is with .lt domain even though all content (except hell-music pdfs) is in English. Therefore, I'm hoping to either develop some sort of extention to Twig and xFrame to apply 'translator' or Twig will create something usable</li>
    <li>is in:
        <ul>
            <li>douche server. I mean no pimping libraries or similar stuff can be used :(. Therefore, it has deployment script (it's a bit crap, but hey-ho). See phing script in build.xml</li>
            <li><a href="https://github.com/doncem/homepage" target="_blank">github</a></li>
        </ul>
    </li>
</ul>
{% endblock %}
