{% extends "homepage.html" %}

{% block title %}About Page{% endblock %}

{% block page_title %}About page{% endblock %}

{% block content %}
<p>This web page:
    <ul>
        <li>was not designed</li>
        <li>is built with:
            <ul>
                <li><a href="https://github.com/linusnorton/xFrame" target="_blank">xFrame</a></li>
                <li><a href="http://twig.sensiolabs.org/" target="_blank">Twig</a></li>
                <li><a href="http://netbeans.org/" target="_blank">NetBeans</a></li>
            </ul>
        </li>
        <li>will use later too:
            <ul>
                <li><a href="http://sass-lang.com/" target="_blank">Sass</a></li>
                <li>more new stuff provided by html5 and hopefully css3</li>
            </ul>
        </li>
        <li>you can find it in:
            <ul>
                <li><a href="https://github.com/doncem/homepage" target="_blank">github</a></li>
            </ul>
        </li>
    </ul>
</p>
{% endblock %}
