{% extends "_layouts/donatasmart.twig" %}

{% block meta_description %}Something to bug around, waste some time{% endblock %}

{% block page_contents %}
<ul>
    <li><a href="#">Development log</a> - is more like historical approach, steps of achievements</li>
    <li><a href="#">Launch it</a> - will be loaded on this screen</li>
    <li><a href="#">Go there</a> - will open a new page</li>
    <li>Experiments is more of a playground to try out some funcionality and most likely it's related to backend. If experiment is more/less front-end'ish - I don't bother about its' look-and-feel, nor finishing it. At that time felt like wanting to do it :)</li>
</ul>
{% if availableExperiments|length > 0 %}
    {% for link,title in availableExperiments %}
<div id="{{ link }}" class="experiment{% if link == enabledExperiment %} active{% endif %}">
    {% include "homepage/experiments/%s.twig"|format(link) %}
    <p class="link-container">
    {% if link|slice(0, 6) == "jquery" %}
        <a href="#{{ link }}" class="launch-link">Launch it</a>
    {% else %}
        <a href="/{{ link }}/">Go there</a>
    {% endif %}
    </p>
</div>
    {% endfor %}
{% else %}
<p>No experiments available</p>
{% endif %}
{% endblock %}
