{% extends "homepage.html" %}

{% block title %}Main{% endblock %}

{% block page_title %}Main{% endblock %}

{% block content %}
<p>Hello,</p>
<p>read about the web site in the "About page" section. Here I'll just drop some basic info about me cause nothing else to dump right now :)</p>
<p>
    <ul>
        <li>Born in Klaipėda (Lithuania)</li>
        <li>All childhood spent in Palanga (near Klaipėda) where I finished school</li>
        <li>After school moved to Vilnius to study where finished maths and continued to live there up till fist quarter of 2011</li>
        <li>Moved to the United Kingdom with excellent job offer</li>
        <li>Now I'm working in <a href="/quidco" target="_blank">Quidco</a></li>
    </ul>
</p>
{% endblock %}
