{% extends "homepage.twig" %}

{% block meta_description %}Main highlights about me.. &quot;main&quot;{% endblock %}

{% block title %}Main{% endblock %}

{% block page_title %}Main{% endblock %}

{% block content %}
<p>Hello,</p>
<p>read about the web site in the "About site" section. Here I'll just drop some basic info about me cause nothing else to dump right now :)</p>
<ul>
    <li>Born in <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Klaipeda,+Lithuania&aq=t&sll=55.378051,-3.435973&sspn=73.4601,162.597656&ie=UTF8&hq=&hnear=Klaip%C4%97da,+Klaipeda+Region,+Lithuania&ll=55.710866,21.131516&spn=0.274265,0.635147&t=m&z=11&vpsrc=0&iwloc=A" target="_blank">Klaipėda</a> (Lithuania)</li>
    <li>All childhood spent in <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Palanga,+Lithuania&aq=t&sll=55.710866,21.131516&sspn=0.274265,0.635147&vpsrc=0&ie=UTF8&hq=&hnear=Palanga,+Klaipeda+Region,+Lithuania&t=m&z=10&iwloc=A&sa=X" target="_blank">Palanga</a> (near Klaipėda) where I finished school</li>
    <li>After school moved to <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Vilnius,+Lithuania&aq=t&sll=55.918339,21.067648&sspn=0.545611,1.270294&vpsrc=0&ie=UTF8&hq=&hnear=Vilnius+district+municipality,+Vilnius+Region,+Lithuania&t=m&z=10&iwloc=A&sa=X" target="_blank">Vilnius</a> to study where finished maths and continued to live there up till fist quarter of 2011</li>
    <li>Moved to the United Kingdom with interesting job offer</li>
    <li>Now I'm working at <a href="http://www.quidco.com/user/1920998/" target="_blank">Quidco</a></li>
</ul>
<p>I know I&#39;m a bit lazy :D, but I do my job - no probs. Right no I&#39;m working on <a href="/experiments/jukebox">jukebox</a> experiment. It&#39s more of the experimentation with backbone, to be honest. Well, at the moment, there is nothing down there. But at least I&#39;m hoping and having some ideas how I may approach the accomplishment. But once again - no rush!</p>
<p>And I&#39;m having thoughts of taking some courses in ML (machine learning). Tempting! I know. But I fear I won&#39;t have enough time to finish it :/</p>
{% endblock %}
