{% extends "homepage.html" %}

{% block meta_description %}Links where I show myself: some Google references; music forums; other stuff{% endblock %}

{% block title %}Links{% endblock %}

{% block page_title %}Links about me or related{% endblock %}

{% block content %}
<h2>My Google</h2>
<ul>
    <li><a href="http://www.google.com/maps/user?uid=202826101663829518560&hl=en" title="GoogleMaps" target="_blank">Maps</a></li>
    <li><a href="https://profiles.google.com/donatasmart" title="Google Profile" target="_blank">Profile</a></li>
    <li><a href="https://picasaweb.google.com/donatasmart" title="Picasa Web" target="_blank">Picasa web album</a></li>
</ul>
<h2>Opera</h2>
<ul>
    <li><a href="http://my.opera.com/doncem/about/" title="My Opera" target="_blank">Profile</a></li>
    <li><a href="http://my.opera.com/community/download.pl?ref=doncem&amp;p=opera_desktop" title="Get Opera" target="_blank">Don't have Opera? Get it</a></li>
</ul>
<h2>Music</h2>
<ul>
    <li><a href="http://www.hell-music.lt/" title="HellMusic" target="_blank">Hell-Music</a></li>
    <li><a href="http://www.ferrum.lt/" title="Ferrum" target="_blank">Ferrum</a></li>
    <li><a href="http://www.metal-archives.com/" title="Encyclopeadia Mettalium" target="_blank">Encyclopaedia Metallum</a></li>
</ul>
<h2>Others</h2>
<ul>
    <li><a href="http://lt.linkedin.com/in/donatasmart" title="LinkedIn" target="_blank">LinkedIn</a></li>
    <li><a href="https://www.paypal.com/lt/mrb/pal=97NKR4CBNR2GG" title="PayPal" target="_blank">Get Paypal yourself</a></li>
    <li><a href="http://stackoverflow.com/users/403208/donatas-m" title="Stack Overflow" target="_blank">Stackoverflow</a></li>
</ul>
<h2>Current/previous works</h2>
<ul>
    <li><a href="http://www.quidco.com/user/1920998/" title="Quidco" target="_blank">Quidco</a></li>
    <li>Assertis Ltd. Projects:
        <ul>
            <li><a href="http://www.mytrainticket.co.uk/" title="MyTrainTicket" target="_blank">MyTrainTicket.co.uk</a></li>
            <li><a href="http://tickets.northernrail.org/" title="Northern Rail" target="_blank">Northern Rail</a></li>
            <li><a href="http://travelsupermarket.com/c/train-tickets/" title="Travelsupermarket" target="_blank">Train Tickets At Travelsupermarket</a></li>
        </ul>
    </li>
</ul>
{% endblock %}
