{% extends "homepage.html" %}

{% block meta_description %}Out from memory and recent views I register viewed movies, TV shows. Here is the brief representation of it{% endblock %}

{% block title %}Movies{% endblock %}

{% block page_title %}Movies and TV shows{% endblock %}

{% block content %}
<p>Some basic statistic from my watched list of movies and TV shows. List is made out of memory and free will</p>
{% if isLive != 1 %}
{% include "homepage/add-movies.html" %}
{% endif %}
{% if sums is defined %}
<div id="main_stats">
    <table>
        <tr>
            <td>Movies:</td>
            <td>{{ sums.movies }}</td>
        </tr>
        <tr>
            <td>TV shows:</td>
            <td>{{ sums.series }}</td>
        </tr>
        <tr>
            <td>Genres per movie:</td>
            <td>{{ (sums.genres / sums.movies)|number_format(5) }}</td>
        </tr>
        <tr>
            <td>Genres per TV show:</td>
            <td>{{ (sums.genres_series / sums.series)|number_format(5) }}</td>
        </tr>
        <tr>
            <td>Countries per movie:</td>
            <td>{{ (sums.countries / sums.movies)|number_format(5) }}</td>
        </tr>
        <tr>
            <td>Directors:</td>
            <td>{{ sums.directors }}</td>
        </tr>
        <tr>
            <td>Mean growth:</td>
            <td id="meanval"></td>
        </tr>
        <tr>
            <td>Next standard diff<br />(squared):</td>
            <td id="stdval"></td>
        </tr>
    </table>
</div>
{% endif %}
{% if data is defined %}
<div id="p_year" class="placeholder"></div>
<div id="p_decade" class="placeholder"></div>
<div id="p_genre" class="placeholder"></div>
<div id="p_directed" class="placeholder"></div>
<div id="countries">
    <table>
        <tr>
            <th></th>
            <th>#movies</th>
        </tr>
        {% for country,movie in data.countries %}
        <tr>
            <td>{{ country }}</td>
            <td>{{ movie }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% endblock %}
{% block script %}
{% if data is defined %}
    {% autoescape false %}
    {{ dataScript }}
    {% endautoescape %}
    $(function() {
        $("#meanval").html(meanval);
        $("#stdval").html(stdval);
        {% autoescape false %}
        $("#source input[name='original-title']").autocomplete({
            source:["{{ autocompletes.movies|join('","') }}"]
        });
        $("#source input[name='english-title']").autocomplete({
            source:["{{ autocompletes.movies|join('","') }}"]
        });
        {% endautoescape %}
    });
{% endif %}
{% endblock %}