/*
Syntax error: Undefined variable: "$linkColour".
        on line 12 of ./src/jukebox/sass/../../_sass-modules/_defaults.scss
        from line 2 of ./src/jukebox/sass/main.scss

7:     &:focus {
8:         background-color:darken($mainColour, 10%) !important;
9:     }
10:     &:hover {
11:         background-color:darken($mainColour, 15%) !important;
12:     }
13:     &:active {
14:         box-shadow:inset 0 0 2px 2px rgba(darken($mainColour, 20%), 0.8);
15:     }
16: }
17: ul {

Backtrace:
./src/jukebox/sass/../../_sass-modules/_defaults.scss:12
./src/jukebox/sass/main.scss:2
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/script/variable.rb:49:in `_perform'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/script/node.rb:40:in `perform'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/perform.rb:216:in `visit_prop'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/perform.rb:238:in `visit_rule'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/perform.rb:146:in `visit_import'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/perform.rb:146:in `map'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/perform.rb:146:in `visit_import'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/engine.rb:299:in `_render'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/engine.rb:246:in `render'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/plugin/compiler.rb:339:in `update_stylesheet'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/plugin/compiler.rb:202:in `update_stylesheets'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `each'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `update_stylesheets'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/plugin/compiler.rb:272:in `watch'
/var/lib/gems/1.8/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:73:in `call'
/var/lib/gems/1.8/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:73:in `run_callback'
/var/lib/gems/1.8/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:55:in `callback_action'
/var/lib/gems/1.8/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:35:in `update'
/var/lib/gems/1.8/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:39:in `modified'
/var/lib/gems/1.8/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:37:in `each'
/var/lib/gems/1.8/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:37:in `modified'
/var/lib/gems/1.8/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:18:in `refresh'
/var/lib/gems/1.8/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/var/lib/gems/1.8/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/var/lib/gems/1.8/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/var/lib/gems/1.8/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/var/lib/gems/1.8/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/var/lib/gems/1.8/gems/sass-3.1.15/vendor/fssm/lib/fssm/monitor.rb:26:in `run'
/var/lib/gems/1.8/gems/sass-3.1.15/vendor/fssm/lib/fssm.rb:70:in `monitor'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/plugin/compiler.rb:265:in `watch'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/exec.rb:431:in `watch_or_update'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/exec.rb:302:in `process_result'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/var/lib/gems/1.8/gems/sass-3.1.15/bin/sass:8
/usr/local/bin/sass:19:in `load'
/usr/local/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$linkColour\".\A         on line 12 of ./src/jukebox/sass/../../_sass-modules/_defaults.scss\A         from line 2 of ./src/jukebox/sass/main.scss\A \A 7:     &:focus {\A 8:         background-color:darken($mainColour, 10%) !important;\A 9:     }\A 10:     &:hover {\A 11:         background-color:darken($mainColour, 15%) !important;\A 12:     }\A 13:     &:active {\A 14:         box-shadow:inset 0 0 2px 2px rgba(darken($mainColour, 20%), 0.8);\A 15:     }\A 16: }\A 17: ul {"; }
