<Files .htaccess>
order allow,deny
deny from all
satisfy all
</Files>

Options -Indexes +FollowSymLinks -MultiViews

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

Redirect 302 /rebank http://www.rebank.lt/
Redirect 302 /mtt http://www.mytrainticket.co.uk/
Redirect 302 /nth http://tickets.northernrail.org/
Redirect 302 /tsm http://www.travelsupermarket.com/c/train-tickets/
Redirect 302 /quidco http://www.quidco.com/

ErrorDocument 400 /
ErrorDocument 401 /
ErrorDocument 403 /
ErrorDocument 404 /
ErrorDocument 500 /
