{% verbatim %}
<script type="text/template" id="search-result-row">
    <ul>
        <li class="hidden">{{ song_id }}</li>
        <li>{{ song }}</li>
        <li>&nbsp;by&nbsp;{{ artist }}</li>
    </ul>
</script>
{% endverbatim %}