{% extends "jukebox.twig" %}

{% block meta_description %}Fairly simple jukebox... or maybe just a load of c-rap{% endblock %}

{% block title %}Jukebox{% endblock %}

{% block content %}
<div id="results-container">
    <ul>
        <li><strong>Filter:</strong></li>
        <li><button type="button" id="by-artists">by artists</button></li>
        <li><button type="button" id="by-albums">by albums</button></li>
        <li><button type="button" id="by-songs">by songs</button></li>
    </ul>
    <div id="results"></div>
</div>
{% endblock %}
