{% extends "jukebox.twig" %}

{% block meta_description %}Fairly simple jukebox... or more likely just a load of c-rap{% endblock %}

{% block title %}Jukebox{% endblock %}

{% block content %}
<div id="results-container">
    <ul>
        <li><strong>Filter:</strong></li>
        <li><button type="button" id="by-artists">by artists</button></li>
        {#<li><button type="button" id="by-albums" disabled="disabled">by albums</button></li>#}
        <li><button type="button" id="by-songs">by songs</button></li>
    </ul>
    <div id="results">
        <ul id="test1" class="test" data-song-id="1">
            <li>test 1</li>
            <li>&nbsp;by&nbsp;TESTY</li>
        </ul>
        <ul id="test2" class="test" data-song-id="2">
            <li>test 2</li>
            <li>&nbsp;by&nbsp;TESTY</li>
        </ul>
        <ul id="test3" class="test" data-song-id="3">
            <li>test 3</li>
            <li>&nbsp;by&nbsp;TESTY</li>
        </ul>
        <ul id="test4" class="test" data-song-id="4">
            <li>test 4</li>
            <li>&nbsp;by&nbsp;TESTY</li>
        </ul>
        <ul id="test5" class="test" data-song-id="5">
            <li>test 5</li>
            <li>&nbsp;by&nbsp;TESTY</li>
        </ul>
    </div>
</div>
{% endblock %}

{% block script %}
    {% include "jukebox/backbone.twig" %}
{% endblock %}