<div id="search-container">
    <input type="text" name="search-q" id="search-q" placeholder="Press me" />
    <button type="button" id="search-clear">Clear</button>
</div>
<div id="keyboard-container">
    <div id="input-1">
        <button type="button" class="letter" tabindex="1">Q</button>
        <button type="button" class="letter" tabindex="2">W</button>
        <button type="button" class="letter" tabindex="3">E</button>
        <button type="button" class="letter" tabindex="4">R</button>
        <button type="button" class="letter" tabindex="5">T</button>
        <button type="button" class="letter" tabindex="6">Y</button>
        <button type="button" class="letter" tabindex="7">U</button>
        <button type="button" class="letter" tabindex="8">I</button>
        <button type="button" class="letter" tabindex="9">O</button>
        <button type="button" class="letter" tabindex="10">P</button>
    </div>
    <div class="clear"></div>
    <div id="input-2">
        <button type="button" class="letter" tabindex="11">A</button>
        <button type="button" class="letter" tabindex="12">S</button>
        <button type="button" class="letter" tabindex="13">D</button>
        <button type="button" class="letter" tabindex="14">F</button>
        <button type="button" class="letter" tabindex="15">G</button>
        <button type="button" class="letter" tabindex="16">H</button>
        <button type="button" class="letter" tabindex="17">J</button>
        <button type="button" class="letter" tabindex="18">K</button>
        <button type="button" class="letter" tabindex="19">L</button>
        <button type="button" id="backspace" class="special" tabindex="20">del</button>
    </div>
    <div class="clear"></div>
    <div id="input-3">
        <button type="button" id="shift" class="special" tabindex="21">1-2-3</button>
        <button type="button" class="letter" tabindex="22">Z</button>
        <button type="button" class="letter" tabindex="23">X</button>
        <button type="button" class="letter" tabindex="24">C</button>
        <button type="button" class="letter" tabindex="25">V</button>
        <button type="button" class="letter" tabindex="26">B</button>
        <button type="button" class="letter" tabindex="27">N</button>
        <button type="button" class="letter" tabindex="28">M</button>
        <button type="button" id="space" class="special" tabindex="29">space</button>
    </div>
    <div class="clear"></div>
</div>