{% extends "_layouts/donatasmart.twig" %}

{% block meta_description %}Error occured :({% endblock %}

{% block page_contents %}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-10 col-lg-10">
        <h1>You've received an error...</h1>
        <p class="lead">{{ errorMessage }}</p>
        <p>Trace:</p>
        <pre>{{ errorStack }}</pre>
    </div>
    <div class="hidden-xs col-sm-4 col-md-2 col-lg-2">
        <img class="img-responsive" src="/img/feels_bad_man.jpg" alt="Feels bad man" />
    </div>
</div>
{% endblock %}
