{% include "common/doctype.html" %}
<html lang="{{ html.lang }}">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    {% if showGA == 1 %}
    <meta name="google-site-verification" content="gND_iyudJzru_kmf-YSstX8_FFr7vXAFV8ajx-KbuaM" />
    {% endif %}
    <meta name="description" content="{% block meta_description %}{% endblock %}"/>
    {#<meta name="author" content="Donatas Martinkus"/>#}
    <link rel="stylesheet" type="text/css" href="/css/{{ html.css }}.css" />
    <title>{{ html.title }} - {% block title %}{% endblock %}</title>
</head>
<body>
    <div id="page">
        <div id="menu">{% include "common/menu.html" %}</div>
        <div id="content">
            <div id="page-title">
                <h1>{% block page_title %}{% endblock %}</h1>
            </div>
            <div id="page-content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
    {% if showGA == 1 %}
    {% include "common/ga.html" %}
    {% endif %}
    {% if js is defined %}
    {% for j in js %}
    <script type="text/javascript" src="{{ j }}.js"></script>
    {% endfor %}
    {% endif %}
    {% block script %}{% endblock %}
</body>
</html>
