{% include "common/doctype.html" %}
<html lang="{{ html.lang }}">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/css/{{ html.css }}.css" />
    <title>
        {{ html.title }} - {% block title %}{% endblock %}
    </title>
</head>
<body>
    <div id="page">
        <div id="menu">{% include "common/menu.html" %}</div>
        <div id="content">
            <div id="page-title">
                <h1>{% block page_title %}{% endblock %}</h1>
            </div>
            <div id="page-content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
    {% if html.js != "" %}
    <script type="text/javascript" src="/js/{{ html.js }}"></script>
    {% endif %}
</body>
</html>
